<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixed-styles</key>
	<dict>
		<key>OFITextStyleForecastCalendarEventTitle</key>
		<dict>
			<key>font-name</key>
			<string>regular</string>
			<key>font-size</key>
			<real>12</real>
		</dict>
		<key>OFITextStyleForecastSidebarLabel</key>
		<dict>
			<key>font-name</key>
			<string>regular</string>
			<key>font-size</key>
			<real>17</real>
		</dict>
		<key>OFITextStyleForecastSidebarMiniLabel</key>
		<dict>
			<key>font-name</key>
			<string>medium</string>
			<key>font-size</key>
			<real>10</real>
		</dict>
		<key>OFITextStyleInspectorSidebarNoteBody</key>
		<dict>
			<key>font-name</key>
			<string>system-font</string>
			<key>font-size</key>
			<real>11</real>
		</dict>
		<key>OFITextStyleNoContentNote</key>
		<dict>
			<key>font-name</key>
			<string>regular</string>
			<key>font-size</key>
			<real>16</real>
		</dict>
		<key>OFITextStyleNoContentTitle</key>
		<dict>
			<key>font-name</key>
			<string>system-font-light</string>
			<key>font-size</key>
			<real>27</real>
		</dict>
		<key>OFITextStyleSidebarTabTitle</key>
		<dict>
			<key>font-name</key>
			<string>system-font-semibold</string>
			<key>font-size</key>
			<real>9</real>
		</dict>
		<key>OFITextStyleSidebarTabTitle:de</key>
		<dict>
			<key>font-name</key>
			<string>system-font-semibold</string>
			<key>font-size</key>
			<real>8</real>
		</dict>
		<key>OFITextStyleSidebarTabTitle:ja</key>
		<dict>
			<key>font-name</key>
			<string>system-font-semibold</string>
			<key>font-size</key>
			<real>8</real>
		</dict>
		<key>OFITextStyleSidebarTabTitle:ru</key>
		<dict>
			<key>font-name</key>
			<string>system-font-semibold</string>
			<key>font-size</key>
			<real>8</real>
		</dict>
		<key>OFITextStyleCustomizedSidebarTabTitle</key>
		<dict>
			<key>font-name</key>
			<string>system-font-semibold-italic</string>
			<key>font-size</key>
			<real>9</real>
		</dict>
		<key>OFITextStyleCustomizedSidebarTabTitle:de</key>
		<dict>
			<key>font-name</key>
			<string>system-font-semibold-italic</string>
			<key>font-size</key>
			<real>8</real>
		</dict>
		<key>OFITextStyleCustomizedSidebarTabTitle:ja</key>
		<dict>
			<key>font-name</key>
			<string>system-font-semibold-italic</string>
			<key>font-size</key>
			<real>8</real>
		</dict>
		<key>OFITextStyleCustomizedSidebarTabTitle:ru</key>
		<dict>
			<key>font-name</key>
			<string>system-font-semibold-italic</string>
			<key>font-size</key>
			<real>8</real>
		</dict>
	</dict>
	<key>font-name-aliases</key>
	<dict>
		<key>light</key>
		<string>system-font-light</string>
		<key>light-italic</key>
		<string>system-font-light-italic</string>
		<key>medium</key>
		<string>system-font-medium</string>
		<key>medium-italic</key>
		<string>system-font-medium-italic</string>
		<key>monospace-digit-medium</key>
		<string>monospace-digit-system-font-medium</string>
		<key>monospace-digit-medium-italic</key>
		<string>monospace-digit-system-font-medium-italic</string>
		<key>regular</key>
		<string>system-font</string>
		<key>regular-italic</key>
		<string>system-font-italic</string>
		<key>sidebar</key>
		<string>system-font</string>
	</dict>
	<key>scalable-styles</key>
	<dict>
		<key>OFITextStyleActionGroupTitle</key>
		<dict>
			<key>base-style</key>
			<string>OFITextStyleActionTitle</string>
			<key>font-name</key>
			<string>medium</string>
		</dict>
		<key>OFITextStyleActionTitle</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>11</real>
				<real>12</real>
				<real>13</real>
				<real>14</real>
				<real>17</real>
			</array>
			<key>font-name</key>
			<string>regular</string>
		</dict>
		<key>OFITextStyleMajorCollationGroupTitle</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>16</real>
				<real>17</real>
				<real>20</real>
				<real>24</real>
				<real>26</real>
			</array>
			<key>font-name</key>
			<string>system-font-bold</string>
		</dict>
		<key>OFITextStyleCollationGroupTitle</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>12</real>
				<real>13</real>
				<real>16</real>
				<real>19</real>
				<real>21</real>
			</array>
			<key>font-name</key>
			<string>system-font-bold</string>
		</dict>
		<key>OFITextStyleDateTimeMetadata</key>
		<dict>
			<key>base-style</key>
			<string>OFITextStyleMetadata</string>
			<key>font-name</key>
			<string>monospace-digit-medium</string>
		</dict>
		<key>OFITextStyleFolderTitle</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>16</real>
				<real>17</real>
				<real>20</real>
				<real>24</real>
				<real>26</real>
			</array>
			<key>font-name</key>
			<string>system-font-bold</string>
		</dict>
		<key>OFITextStyleForecastMinorCollationGroupTitle</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>12</real>
				<real>13</real>
				<real>16</real>
				<real>19</real>
				<real>21</real>
			</array>
			<key>font-name</key>
			<string>system-font-bold</string>
		</dict>
		<key>OFITextStyleInheritedDateTimeMetadata</key>
		<dict>
			<key>base-style</key>
			<string>OFITextStyleDateTimeMetadata</string>
			<key>font-name</key>
			<string>monospace-digit-medium-italic</string>
		</dict>
		<key>OFITextStyleMetadata</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>10</real>
				<real>11</real>
				<real>11</real>
				<real>13</real>
				<real>15</real>
			</array>
			<key>font-name</key>
			<string>medium</string>
		</dict>
		<key>OFITextStyleNoteBody</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>10</real>
				<real>11</real>
				<real>11</real>
				<real>14</real>
				<real>15</real>
			</array>
			<key>font-name</key>
			<string>regular</string>
		</dict>
		<key>OFITextStyleProjectTitle</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>12</real>
				<real>13</real>
				<real>16</real>
				<real>19</real>
				<real>21</real>
			</array>
			<key>font-name</key>
			<string>system-font-bold</string>
		</dict>
		<key>OFITextStyleSidebarBadgeCount</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>10</real>
				<real>11</real>
				<real>13</real>
				<real>15</real>
				<real>16</real>
			</array>
			<key>font-name</key>
			<string>medium</string>
		</dict>
		<key>OFITextStyleSidebarTitle</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>10</real>
				<real>11</real>
				<real>13</real>
				<real>15</real>
				<real>16</real>
			</array>
			<key>font-name</key>
			<string>sidebar</string>
		</dict>
		<key>OFITextStyleTagTitle</key>
		<dict>
			<key>content-sizes</key>
			<array>
				<real>12</real>
				<real>13</real>
				<real>16</real>
				<real>19</real>
				<real>21</real>
			</array>
			<key>font-name</key>
			<string>system-font-bold</string>
		</dict>
	</dict>
</dict>
</plist>
